extends layout

block content
	h1= title
	h2.title Login
	hr
	form(id="frmlogin" action="/login" method="post")
		p #{err}

		table.table.login-box
			tr
				td
					label(for="email") Email
				td
					input#email(type="text", name="email", value= (!!email) ? email : "")
			tr
				td
					label(for="password") Password
				td
					input#password(type="password", name="password")
			tr
				td(colspan=2)
					button.btn.btn-save(id="btnLogin")
							span.glyphicon.glyphicon-log-in
							| Login