extends layout

block content
	h1= title
	h2.title New Internship
	hr
	nav.box-1
		a(href='/')
			span.glyphicon.glyphicon-home 
			| Home


	form(id="frmInternship" action="/newinternship" method="post")
		table.table.table-striped.table-hover.box-1
			thead
				tr
					th
						| TERM
					th
						| DESCRIPTION
			tbody
				tr
					td
						label(for="name") Name 
					td
						input#name(type="text", name="name" required)
				tr
					td
						label(for="discipline") Discipline 
					td
						input#discipline(type="text", name="discipline")
				tr
					td
						label(for="institution") Institution/Organization 
					td
						input#institution(type="text", name="institution")
				tr
					td
						label(for="city") City 
					td
						input#city(type="text", name="city")
				tr
					td
						label(for="state") State 
					td
						input#state(type="text", name="state")
				tr
					td
						label(for="country") Country 
					td
						input#country(type="text", name="country")
				tr
					td
						label(for="description") Description 
					td
						textarea#description(rows="3", name="description")
				tr
					td
						label(for="website") Website 
					td
						input#website(type="text", name="website" value="http//")
				tr
					td
						label(for="duration") Duration (weeks) 
					td
						input#duration(type="text", name="duration")
				tr
					td
						label(for="salary") Salary or Stipend 
					td
						input#salary(type="text", name="salary")
				tr
					td
						label(for="courses") Courses Offered 
					td
						input#courses(type="text", name="courses")
			
				tr
					td
						label(for="housing") Housing 
					td
						input#housing(type="text", name="housing")
				tr
					td
						label(for="transportation") Transportation 
					td
						input#transportation(type="text", name="transportation")
				tr
					td
						label(for="citizenship") Citizenship 
					td
						select#ms-citizenship(name="citizenship" multiple)
							option US Citizen
							option Permanent Resident
							option F1 Student Visa
							option N/A
				tr
					td
						label(for="minority") Minority or Underrepresented 
					td
						select#ms-minority(name="minority" size="8" multiple)
							option African American/Black
							option Hispanic
							option Native American
							option Native Alaskan
							option Pacific Islander
							option Native Hawaiian
							option Polynesian
							option N/A
				tr
					td
						label(for="ms-classification") Classification 
					td
						select#classification(name="classification" size="5" multiple)
							option Freshman
							option Sophomore
							option Junior
							option Senior
							option N/A
				tr
					td
						label(for="gpa") GPA 
					td
						input#gpa(type="text", name="gpa" size="8")
				tr
					td
						label(for="statement") Personal Statement 
					td
						input#statement(type="checkbox", name="statement")
				tr
					td
						label(for="recommendation") Recommendation 
					td
						input#recommendation(type="number", name="recommendation" min="0" max="5")
			
				tr
					td
						label(for="transcript") Trascript 
					td
						input#transcript(type="checkbox", name="transcript")
				tr
					td
						label(for="deadline") Deadline 
					td
						input#deadline(type="date", name="deadline" min="2013-01-02")
				tr
					td
						label(for="submision") Submission 
					td
						select#ms-submision(name="submision" multiple)
							option Online
							option Email
							option Mail
							option N/A
				tr
					td(colspan=2)
						button.btn.btn-save(id="btnAddInternship")
							span.glyphicon.glyphicon-floppy-disk
							| Save